.navigation {
    width: 100%;
    text-align: center;
    background-color: #CEE3F6;
    vertical-align:bottom;
   line-height:120px;
    height:120px;
}
#nav-list {
    margin:0 auto;
    list-style-type: none;
}
#nav-list li {
    display: inline-block;
    font-size: 18px;
    margin: 20px;
    vertical-align:bottom;
    line-height:normal;   
}
.logo-img {
    position:absolute;
    left:10px;
    top:10px;
    margin: 0px 15px 15px 0px;
}

body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 1.0em;
    font-family:'Verdana', 'Arial', 'Sans-Serif';
}

img {
    vertical-align: bottom;
}

p {
    font-family:'Verdana', 'Arial', 'Sans-Serif';
    font-size: 1.0em;
    line-height: 1.4em;
    color: #333;
}

nav {
    border-bottom: 1px solid #d5d5d5;
    text-align: right;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.0em;
}

ul.posts li {
    list-style: none;
    font-family:'Verdana', 'Arial', 'Sans-Serif';
}

ul.posts div, p.meta {
    font-size: 0.75em;
    font-family: 'Lucida Console', Monospace;
    text-align: right;
}

div.post p {
    font-family:'Verdana', 'Arial', 'Sans-Serif';
    font-size: 1.0em;
    line-height: 1.4em;
    color: #333;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    border:2px solid #00ffff;
}

th{
    border:2px solid #00ffff;
    padding: 15px;
}

td{
    border:1px solid #00ffff;
    padding: 15px;
}
