<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% seo %}
		</head>
		<body>
			<!-- <div class="bg-div">
			<img class="logo-img" src="https://carbonpanda.github.io/images/carbonpanda100.jpg" alt="CarbonPanda" height="70" width="70">
			<nav>
				<ul>
	        			<li><a href="/">Home</a></li>
		        		<li><a href="/about">About</a></li>
	        			<li><a href="/blog">Blog</a></li>
	    			</ul>

			</nav>
			</div>  -->
			<div class="bg-div">
				<table style="height: 100%; width: 100%; border: none;">
					<tbody>
						<tr>
							<td style="width: auto; vertical-align: bottom; border: none;">
								<img src="https://carbonpanda.github.io/images/carbonpanda100.jpg" alt="" width="100" height="100" />
							</td>
							<td style="width: auto; text-align: right; vertical-align: bottom; border: none;">
								<nav>
									<ul>
		        					<li><a href="/about">About</a></li>
	        						<li><a href="/blog">Blog</a></li>
									</ul>
								</nav>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    			<ul>
	        			<li><a href="mailto:carbonpanda@gmail.com">email</a></li>
					<li>/</li>
	        			<li><a href="https://http://carbonpanda.github.io">carbonpanda.github.io</a></li>
				</ul>
			</footer>
		</body>
	</html>
